	header {
		display: flex;
	}
	
	header nav ul {
		list-style-type: none;
	}
	
	header nav li {
		padding: 30px;
		text-decoration: none;
		display: inline-block;
	}
	
	header nav a, h1 a {
		text-decoration: none;
	}
	
	header .dropned {
		display: none;
		position: absolute;
		background-color: #bada55;
	}
	
	header .drop:hover .dropned {
		display: block;	
	}
	
	header .dropned a {
		padding: 10px 15px;
		display: block;
		text-align: left;
	}