:root {
    --main-color: #8010e0;
    --secondary-color: #452B5A;
    --text-color: #4a4a4a;
    --border-color: #7ec6cc;
    --background-color: #EEEBE9;
    --light-color: #EEEBE9;
    --gull-color: #FFFF66;
    box-shadow: rgb(30 30 30 / 10%) 3px 3px 6px 0px inset, rgb(10 10 10 / 10%) -3px -3px 6px 1px inset;
} 

@font-face {
    font-family: Viga;
    src: url(fonts/Viga-Regular.ttf);
}

body {
    font-family: Viga, sans-serif;
    font-size: 18px;
    color: var(--text-color);
    margin: 0%;
}

/* Navigation */
	/* Basics */
	#nav {
		margin-top: 100px;
	}
	
	header {
		display: flex;
		background-color: var(--main-color);
		position: fixed;
		width: 100%;
		top: 0;
        z-index: 9999;
	}
	
	header a:link, a:visited {
		color: white;
		
	}
	
	header nav li:hover {
		box-shadow: rgba(50, 50, 50, 0.2) 0px -8px 8px 0px;
	}
	
	header nav {
		margin-left: 42%;
		
	}
	
	header nav ul {
		list-style-type: none;
		margin: 0;
	}
	
	header nav li {
		padding: 30px;
		text-decoration: none;
		display: inline-block;
		border-left: 5px;
		border-right: 5px;
		border-color: var(--gull-color);
	}
	
	header nav a, h1 a {
		text-decoration: none;
	}
	/* End of Basics */

    	/* Logo */
	.shavi-logo {
		width: 65px;
		margin: 0;
		height: 65px;
		position: absolute;
		margin-left: 26px;
		margin-top: 4px;
	}
	
	header h1 {
		margin: 0;
		padding-left: 80px;
		padding-top: 18px;
	}
	/* End of Logo */

    	/* Drop-menu */
	#pil {
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 9px solid var(--border-color);
        display: inline-block;
      }
      
      .dropned {
          display: none;
          position: absolute;
          background-color: var(--main-color);
          border-radius: 10%;
          margin: -20px;
          margin-top: 13px;
          padding-top: 5px;
  
      }
      
      .drop:hover .dropned {
          display: block;	
          
      }
      
      
      .dropned a {
          padding: 10px 47px;
          display: block;
          margin: 0;
      }
      
      .dropned a:hover {
          box-shadow: rgb(30 30 30 / 10%) 3px 3px 6px 0px inset, rgb(10 10 10 / 10%) -3px -3px 6px 1px inset;
          border-radius: 20%;
      }
      /* End of Drop-menu */
      
      /* Login */
    #login {
          position: absolute;
          color: var(--text-color);
          background-color: var(--background-color);
          padding: 13px;
          padding-left: 20px;
          padding-right: 20px;
          border-radius: 32%;
          margin-left: 76px;
          margin-top: 18px;
          font-weight: bold;
      }
      
      #login:hover {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          margin-top: 17px;
      }
      /* End of Login */
      
  /* End of Navigation */
	#map {
        height: 580px;
    }

.Spesifikasjoner {
    color:#7ec6cc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bildeBil {
    width: 50%;
    height: auto;
}

.spesifikasjonTittel {
    display: inline-block;
    margin-bottom: -6px;
    background-color: var(--secondary-color);
    color: white;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 8px 32px 8px 8px;
   
}

.tabellContainer {
    box-shadow: 2px 2px 10px gray;
    padding: 36px;
    border-radius: 0 32px 32px 32px;
}

.v-tabell {
    background-color: white;
    color: black;
    border-collapse: collapse;
    padding: 20px;
}

.v-tabell td {
    padding-right: 32px;
    padding-left: 32px;
}

.v-tabell tbody tr:nth-child(odd) {
    background-color: #B5ACBC;
}

.v-tabell tbody tr:nth-child(even) {
    background-color: #C4C4C4;
}

.v-tabell tbody tr:first-child td:first-child {
    border-top-left-radius: 32px;
}

.v-tabell tbody tr:first-child td:last-child {
    border-top-right-radius: 32px;
}

.v-tabell tbody tr:last-child td:first-child {
    border-bottom-left-radius: 32px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 32px;
}

.Tittel {
    font-size: 200%;
    color: antiquewhite;
}

.tittelBoks {
    display: flex;
    justify-content: center;
    background-color:var(--main-color);
}

.Tekst2 {
    font-size: 200%;
    max-width: 50%;
    line-break: whitespace;
}

.Tekst {
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    background-color:var(--secondary-color);
    width: 80%;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    align-items: center;
    justify-content: center;
    margin-bottom: 350px;
}

.Tekst3 {
    font-size: 110%;
    margin-left: -8px;
    text-align: left;
}

.båtBilde {
    width: 900px;
    height: auto;
}

.card {
    background: #fff;
    padding: 20px 20px;
    box-shadow: 3px 7px 14px 0px rgb(0 0 0 / 14%);
    box-sizing: border-box;
}

.button {
    display: block;
    width: 115px;
    height: 18px;
    background: var(--secondary-color);
    padding: 10px;
    text-align: center;
    color: var(--light-color);
    font-weight: bold;
    line-height: 18px;
}

/* Utlånsteder */
.card {
            background: #fff;
            padding: 20px 20px;
            box-shadow: 3px 7px 14px 0px rgb(0 0 0 / 14%);
            box-sizing: border-box;
        }

        .button {
            display: block;
            width: 115px;
            height: 18px;
            background: var(--secondary-color);
            padding: 10px;
            text-align: center;
            color: var(--light-color);
            font-weight: bold;
            line-height: 18px;
        }

        #station-map{
            min-height: 342px;
        }

        #city-header {
            display: flex;
            height: 500px;
            min-height: 500px;
            overflow: hidden;
            flex-direction: column;
            align-items: center;
        }

        .station-tables {
            grid-column: 1/4;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            height: max-content;
        }

        #city-header {
            background-color: var(--main-color);
            color: var(--light-color);
        }

        #station-address {
            position: absolute;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 232px;
            height: 80px;
            margin-top: 250px;
            border-radius: 0 50px 50px 0;
            background-color: var(--secondary-color);
            padding-left: 1em;
        }

        .city-img-container {
            width: 100%;
            display: flex;
            overflow: hidden;
            align-items: center;
            min-height: 410px;
        }

        .city-img-container img {
            width: 100%;
        }
        .container {
            margin: 38px 140px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 15px;
        }

        .station-info {
            grid-column: 1/3;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .station-location .button {
            position: absolute;
            margin-top: 10px;
            margin-left: 10px;
            z-index: 9999;
        }

        .station-tables-container {
            grid-column: 1/4;
        }

        .station-tables-container h2 {
            margin: 32px 22px 20px 22px;
        }

        .station-tables table {
            border: 1px solid var(--text-color);
            border-collapse: separate;
            border-spacing: 0;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 3px 7px 14px 0px rgb(0 0 0 / 14%);
            margin: 40px 22px;
        }
        .station-tables table:hover {
            transform: scale(1.05);
        }
        .station-tables thead tr {
            background-color: var(--secondary-color);
            color: var(--light-color);
        }

        .station-tables th, .station-tables td {
            padding: 10px;
        }

        .station-tables  tbody td:nth-child(1){
            width: 300px;
            font-weight: 100;
        }
        .station-tables  tbody td:nth-child(2){
            text-align: center;
        }

        .station-tables thead th {
            font-weight: bold;
            border-bottom: 1px solid;
        }

        .vehicle-icon-rev {
            width: 58px;
            filter: invert(100%);
        }
/* End for Utlånsteder*/

/* Priser */
            main {
                margin-top: 84px; 
            }
			
            #membership-text {
                background: var(--main-color);
                color: var(--light-color);
                padding: 40px 230px;
                text-align: center;
                margin-bottom: 80px;
            }

            #membership-text-bottom {
                background: var(--secondary-color);
                color: var(--light-color);
                padding: 40px 230px;
                text-align: center;
                margin-bottom: 60px;
            }

            #membership-text-footer {
                color: var(--text-color);
                text-align: center;
                margin-bottom: 60px;
            }

            #membership-text-footer-link {
                color: var(--text-color);
            }

            #membership-plans {
                display: flex;
                justify-content: center;
                align-items: stretch;
                flex-wrap: wrap;
                column-gap: 50px;
                row-gap: 40px;
                margin: 10px 10px 80px 10px;
            }

            .plan-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 260px;
                min-width: 260px;
                border: 3px solid var(--border-color);
                border-radius: 18px;
                text-align: center;
                position: relative;
                transition: transform 0.5s;
            }

            .plan-card:hover {
                transform: scale(1.10);
            }
            .plan-card h4 {
                font-size: 1.5rem;
            }

            .price-container {
                border: 2px solid var(--secondary-color);
                width: 150px;
                height: 150px;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: auto;
                font-size: 1.5rem;
            }

            .price-container p {
                margin: 0;
            }

            .plan-button {
                width: 186px;
                background: var(--secondary-color);
                padding: 10px;
                text-align: center;
                color: var(--light-color);
                font-weight: bold;
                line-height: 24px;
                border: none;
                cursor: pointer;
            }

            .plan-button:hover {
                opacity: 0.9;
               
            }
            .plan-button:active {
                opacity: 1;
            }

            #best-value {
                background: var(--border-color);
                border-radius: 10px 0;
                width: 170px;
                color: var(--gull-color);
                padding: 6px 0;
                position: absolute;
                top: -20px;
                left: 40px;
            }
/* End for Priser */

/* footer */
footer {
    display: grid;
    justify-items: start;
    justify-content: space-around;
    align-items: stretch;
    grid-template-columns: 1fr 2fr;
    background: var(--secondary-color);
    color: var(--light-color);
    padding: 38px 140px 20px 140px;
    font-size: 0.9rem;
}

footer div:first-child > * {
    margin: 0;
    margin-bottom: 20px;
}
footer .footer-links p {
    position: absolute;
    margin: 0;
    bottom: 0px;
    right: 0;
    font-size: 0.75rem;
}
footer a {
    color: inherit;
}

footer nav > ul > li > a {
    text-decoration: none;
}

footer nav > ul > li {
    display: block;
    margin-bottom: 10px;
}

footer .footer-links nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .footer-links {         
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    align-content: space-around;
}

footer .footer-social img {
    margin-right: 5px;

}